#matrix-result
  .matrix-result-row
    %h3 Matrix
    = tex_image(@matrix.to_tex)

  .matrix-result-row
    %h3 Characteristic Equation
    = tex_image(@matrix.char_eq_tex)

  .matrix-result-row
    %h3 Eigenvalues
    = tex_image(@matrix.eigen_values_tex)

  .matrix-result-row
    %h3 Check on Wolfram Alpha
    = link_to 'Matrix on Wolfram Alpha', wolfram_url(@matrix.to_wolfram)
